trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  - name: workingDirectory
    value: 'terraform/dev'

steps:
  - task: TerraformInstaller@1
    inputs:
      terraformVersion: '1.7.5'

  - task: TerraformCLI@1
    displayName: 'Terraform Init'
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(workingDirectory)'
      backendType: 'local'

  - task: TerraformCLI@1
    displayName: 'Terraform Plan'
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: '$(workingDirectory)'
      environmentServiceName: 'rg-dev-env'

  - task: TerraformCLI@1
    displayName: 'Terraform Apply'
    inputs:
      provider: 'azurerm'
      command: 'apply'
      workingDirectory: '$(workingDirectory)'
      environmentServiceName: 'rg-dev-env'
      args: '-auto-approve'
